/* Estilo para o corpo da página */
body {
font-family: Arial, sans-serif;
background-color: #f4f4f9;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

/* Container principal */
.container {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: center;
width: 300px;
}

/* Título */
h1 {
color: #b82bdb;
}

/* Estilo para os inputs */
.input-container {
margin-bottom: 15px;
text-align: left;
}

input {
width: 100%;
padding: 8px;
border-radius: 5px;
border: 1px solid #ccc;
margin-top: 5px;
font-size: 16px;
}

/* Botão */
button {
background-color: #d71edd;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
width: 100%;
}

button:hover {
background-color: #a750ee;
}

/* Estilo do resultado */
#resultado {
margin-top: 20px;
font-size: 18px;
font-weight: bold;
color: #333;
}